.head {
    color: goldenrod;
    background-color: white;
    border-style: solid;
    border-color: rgb(250, 243, 243);
    border-top: none;
    border-left: none;
    border-right: none;
}

.main {
    padding-left: 25%;
}

.container {padding-left: 03%;}

.text {
    width: 50%;
    height: 40px;
    padding-left: 40px;
    font-size: medium;
    border-radius: 4px;
    border-color: rgb(212, 211, 211);
    border-width: 2px;

}

.container i{
    position: absolute;
    top: 40%;
    right: 3%;
    font-size: 26px;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.text{
    border-radius: 5px;
    border-color: rgb(216, 215, 215);
    border-top-width: 0.5;
    border-left-width: 0.5px;
border-top-color: rgb(216, 215, 215);
}

.nav {

    width: 40%;
    justify-content:space-around;
    display: flex;
    text-decoration: none;
padding-top: 08px;
gap: 22%
}



.nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-size: 17px;
    position: relative;
    }

    
.nav a:hover{
    color: purple;


}


.nav a::before{
    content: "";
position: absolute;
top: 110%;
left: 0;
width: 0%;
height: 2px;
transition: all 0.4s linear;
border-bottom: 4px solid purple;
}


.nav a:hover:before{
    border-bottom: 2px solid purple;
    width: 100%;
}

.cards {
    width: 48%;
    height: 120px;
    padding-left: 40px;
    font-size: medium;
    border-radius: 10px;
    border-color: rgb(212, 211, 211);
background-color: white;
border-bottom: 20px;
border-color:  rgb(250, 243, 243);
border-bottom-color:rgb(216, 215, 215) ;
border-width:2px;
border-top-color: white;
border-style: solid;
box-shadow: gray;
}
.cards1 {
    display: flex;
    gap: 18vh;
    position: center;
border-radius: 5px;
border-left-width:1px ;
}

.button2{
    width: auto;
    color: purple;
height: 30px;
border-radius: 5px;
margin-top: 5vh;
background-color: white;
border-color: rgb(192, 191, 191);
border-width: 0;
border-style: solid;
font-weight: bolder;
}

p {color: purple;
padding-bottom: 10px;
padding-left: 10px;
}

.card_2 {
    border-style: solid;
    border-color:  rgb(212, 211, 211);
    border-top: 0cap;
    border-width: 2px;
    border-radius: 10px;
}
.card2 {
    display: flex;
    gap: 18vh;
    position: center;
border-radius: 5px;
border-left-width:1px ;
}

.button3 {
    width: auto;
    color: purple;
height: 30px;
border-radius: 5px;
margin-top: 5vh;
background-color: white;
border-color: rgb(192, 191, 191);
border-width: 0;
border-style: solid;
font-weight: bolder;
}
